# Python Basics Assignment

 Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n

In [5]:
n = 10
r = 5
p = 100

In [6]:
A = p * (1 + r / 100)**n

In [8]:
A

162.8894626777442

 In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."

In [9]:
A = 10
B = 20

In [11]:
Str = "There are {} students in the class, with {} who play at least one sport."

In [12]:
formatted_string = Str.format(A, B)

In [14]:
print(formatted_string)

There are 10 students in the class, with 20 who play at least one sport.

 In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?

In [15]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

 4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)

In [16]:
10//3

3

5. What will be the output of the following code?
A = 10
B = 12

In [36]:
A=10
B=12

In [38]:
print("Smaller")if A == B else print("Greater")  if A < B else print("True")

Greater

6. What will be the output of the following code?

In [39]:
import numpy as np

In [41]:
my_list = [2,7,3,5,4,6]
print(my_list)

[2, 7, 3, 5, 4, 6]

In [42]:
arr_1 = numpy.arry(my_list1, dtype = int)
print(arr_1)

NameError: name 'numpy' is not defined

 Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

In [43]:
string = "Machine Learning"

In [44]:
substring = string[slice(8, 13, 1)]

In [46]:
print(substring)

Learn

 To create a sequence of numbers from 10 to 25 with an increment of 4, you can use the range() function. Then, you can find the index of the value 18 in the sequence.

In [55]:
numbers_sequence = list(range(10, 25, 4))

In [56]:
index_of_18 = numbers_sequence.index(18)

In [57]:
print("The index of the value 18 is:", index_of_18)

The index of the value 18 is: 2

 Which of the following is true with respect to the below codes?

In [58]:
num1 = 4**5
num2 = pow(4,5)

In [60]:
print(num1,num2)

1024 1024

 ans: num1 = num2

 Python NameError exception is raised when: -

 ans: Trying to access a variable which has not been defined

 What type of exception will be raised for the code given below?

In [62]:
x = "string"

In [64]:
int(x)

ValueError: invalid literal for int() with base 10: 'string'

 ans: value error

#A FileNotFoundError exception is raised by operating system errors when:
    ans:
b. A file or directory is requested but does not exist in the working directory

 .Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
ans:
b. Character

 Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above

 ans:all of the above

 .Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. #

 ans: #

 Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.

In [67]:
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

In [72]:
print(tuple_1,tuple_2)

(1, 5, 6, 7, 8) (8, 9, 4)

 How many elements in the following data structure?

In [70]:
s = (1, 2, 3, 4, 4, 4, 5, 6)
num_elements = len(s)

In [71]:
print(num_elements)

8

 Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N.

In [73]:
def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            c_squared = a**2 + b**2
            c = int(c_squared**0.5)  # Taking the integer square root
            if c <= N and c_squared == c**2:
                triplets.append((a, b, c))
    return triplets

# Example usage:
N = 20
result = find_pythagorean_triplets(N)

In [74]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]